body {
  background-color: black; /* Change background to black */
  color: white; /* Optional: Change text color to white for better contrast */
  display: flex; /* Use flexbox to center content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.App {
  position: relative; /* Set position relative for absolute positioning of children */
  overflow: visible; /* Allow overflow of child elements */
}

.header-container {
  margin-top: 10vh;
}

.how-container {
  margin-top: 25vh;
}

.image {
  width: 100%;
  margin-top: 27vh;
}
